#u104-4 {
	background-color: transparent;
	line-height: 50px;
	font-size: 42px;
	color: #FFFFFF;
	font-weight: bold;
}

#u212 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u386 {
	background: -webkit-gradient(linear, center top, center bottom, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(top, #1A1A1A, #081535 100%);
	background: linear-gradient(to bottom, #1A1A1A, #081535 100%);
	filter: alpha(opacity=86) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=86) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=0)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.86;
	border-radius: 10px;
}

#u457-4 {
	text-decoration: underline;
	background-color: transparent;
	line-height: 23px;
	font-size: 25px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}

#u541-4 {
	background-color: transparent;
	line-height: 16px;
	font-size: 20px;
	margin-left: 10px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}

#u541-5 {
	background-color: transparent;
	line-height: 16px;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}

#u542-4 {
	background-color: transparent;
	line-height: 16px;
	font-size: 20px;
	margin-left: 10px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}

[data-whatinput="mouse"] *:focus,
[data-whatinput="touch"] *:focus,
input:focus,
textarea:focus {
	outline: none;
}

#u542-5 {
	background-color: transparent;
	line-height: 16px;
	font-size: 12px;
	text-align: left;
	color: #FFFFFF;
	font-weight: bold;
}


#u586 {
	background: -webkit-gradient(linear, left center, right center, from(#1A1A1A), color-stop(100%, #081535));
	background: -webkit-linear-gradient(left, #1A1A1A, #081535 100%);
	background: linear-gradient(to right, #1A1A1A, #081535 100%);
	filter: alpha(opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr=#FF1A1A1A, endColorstr=#FF081535, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=79) progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF1A1A1A', endColorstr='#FF081535', GradientType=1)";
	border-width: 0px;
	border-color: transparent;
	opacity: 0.79;
	border-radius: 10px;
}

#u225-4 {
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #FFFFFF;
	font-weight: bold;
}

p {
	margin: 0px;
	padding: 0px;
	border-width: 0px;
	border-style: solid;
	border-color: transparent;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	-o-transform-origin: left top;
	transform-origin: left top;
	background-repeat: no-repeat;
}

body {
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: left;
	font-size: 14px;
	line-height: 17px;
	word-wrap: break-word;
	text-rendering: optimizeLegibility;
	-moz-font-feature-settings: 'liga';
	-ms-font-feature-settings: 'liga';
	-webkit-font-feature-settings: 'liga';
	font-feature-settings: 'liga';
}


.normal_text {
	color: #000000;
	direction: ltr;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 17px;
	text-align: left;
	text-decoration: none;
	text-indent: 0px;
	text-transform: none;
	vertical-align: 0px;
	padding: 0px;
}

.colelem {
	display: inline;
	float: left;
	clear: both;
}

.SlideShowContentPanel .fullscreen img,
.css_verticalspacer .verticalspacer {
	position: relative;
}

.position_content {
	float: left;
}

.clearfix:after {
	content: "\0020";
	visibility: hidden;
	display: block;
	height: 0px;
	clear: both;
}

*:first-child+html .clearfix {
	zoom: 1;
}


.grpelem {
	display: inline;
	float: left;
}

#page {
	z-index: 1;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	width: 100%;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}


html {
	scroll-behavior: smooth;
}


/* width */

 ::-webkit-scrollbar {
	width: 0px;
}


/* Track */

 ::-webkit-scrollbar-track {
	opacity: 0.0;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
	background: #2469ff;
	border-radius: 10px;
}


Handle on hover

 ::-webkit-scrollbar-thumb:hover {
	background: #2469ff;
	border-radius: 10px;
}

.recipe:hover {
	transform: scale(1.05);
}

#pu104-4 {
	z-index: 2;
	top: 22vh;
	left: 40vw;
	position: absolute;
	width: 400px;
	height: 580px;
}


#u104-4 {
	z-index: 2;
	width: 318px;
	min-height: 26px;
	position: relative;
	margin-left: 50%;
	margin-bottom: 10px;
	left: -551px;
}


#recepies {
	margin-top: 90px;
	width: 200px;
	height: 460px;
	left: -390px;
	padding-left: 390px;
	position: absolute;
	overflow: auto;
}


.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
}

@keyframes slide-bottom {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(100px);
		transform: translateY(100px);
	}
}

#pu212 {
	z-index: 12;
	margin-top: 5px;
	transform-origin: center;
	background-color: red;
	position: relative;
	left: 200px;
}

#u212 {
	z-index: 12;
	width: 398px;
	height: 71px;
	position: relative;
	margin-right: -10000px;
	margin-left: 50%;
	left: -551px;
}

#u225-4 {
	z-index: 13;
	width: 269px;
	min-height: 12px;
	position: relative;
	margin-right: -10010px;
	margin-top: 12px;
	margin-left: 50%;
	left: -477px;
}

#u264 {
	z-index: 17;
	width: 63px;
	height: 63px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 45%;
	left: -546px;
}


#pu386 {
	z-index: 22;
	left: 44vw;
	width: 294px;
	height: 381px;
	position: absolute;
	top: 20.6vh;
}

#u386 {
	z-index: 22;
	width: 294px;
	height: 381px;
	position: relative;
}


button:focus {
	border: none;
	outline: none;
}

button {
	transform-origin: center;
	transition: transform .10s ease-in-out;
}

#u139-4 {
	z-index: 8;
	width: 318px;
	min-height: 12px;
	margin-top: 6px;
	position: relative;
	margin-left: 50%;
	left: -551px;
}
#u107 {
	background-color: #3F3F3F;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	border-radius: 10px;
}

optgroup {
	font-style: inherit;
	font-weight: inherit;
}

optgroup {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}

#u107 {
	z-index: 6;
	width: 398px;
	height: 8px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
	margin-left: 50%;
	left: -551px;
}

#u139-4 {
	background-color: transparent;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
}

#u136 {
	background-color: #2F6AFF;
	opacity: 0.76;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=76)";
	filter: alpha(opacity=76);
	border-radius: 10px;
}

#u136 {
	z-index: 7;
	width: 0px;
	height: 8px;
	position: relative;
	margin-left: 50%;
	left: -551px;
}

button:hover {
	transform: scale(1.03);
}

#u457-4 {
	z-index: 34;
	width: 167px;
	height: 20px;
	position: absolute;
	margin-right: -10000px;
	margin-top: 16px;
	margin-left: 15%;
	left: -24px;
}

#u541-4 {
	z-index: 116;
	width: 199px;
	min-height: 12px;
	position: absolute;
	margin-right: -10000px;
	margin-top: 70px;
	margin-left: 50%;
	left: -118px;
}


#u559 {
	z-index: 120;
	height: 466px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 21.67%;
	max-width: 416px;
}

.ie #u559 {
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.css_verticalspacer .verticalspacer {
	height: calc(100vh - 2160px);
}

.html {
	background: #FFFFFF url("../images/20210228010453_1.jpg?crc=4133897247") repeat left top scroll;
}

body {
	position: relative;
	min-width: 320px;
}